user {{ env.get("PROXY_USER", "nobody") }} {{ env.get("PROXY_GROUP", "") }};
worker_processes auto;
error_log stderr info;
pid {{ env.get("TEMP_DIR", "/tmp") }}/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include {{ env.get("CONFIG_DIR", "/data/config") }}/mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 5;
    server_tokens off;

    upstream freva_backend {
        server {{ env.get("WEB_SERVER_NAME", "localhost") }}:{{ env.get("WEB_SERVER_PORT", "8000") }};
    }

    upstream databrowser_backend {
        server {{ env.get("FREVA_REST_HOST", "localhost") }};
    }

    server {
        listen {{ env.get("PORT_HTTPSD", "443") }} ssl;
        listen [::]:{{ env.get("PORT_HTTPSD", "443") }} ssl;
        http2 on;
        server_name {{ env.get("WEB_HOST", "localhost") }};
        root {{ env.get("SERVER_ROOT", "/srv/static") }};
        index index.html;

        ssl_certificate {{ env.get("SERVER_CERT_FILE", "/tmp/fullchain.pem") }};
        ssl_certificate_key {{ env.get("SERVER_KEY_FILE", "/tmp/key.pem") }};
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-GCM-SHA256";
        ssl_prefer_server_ciphers on;

        add_header Strict-Transport-Security "max-age=15552000; includeSubdomains;" always;
        add_header X-Frame-Options "SAMEORIGIN";

        error_page 400 404 500 502 503 504 /outoforder.html;

        location /static/ {
            alias {{ env.get("SERVER_ROOT", "/srv/static") }}/;
        }

        location /robots.txt {
            alias {{ env.get("CONFIG_DIR", "/data/config") }}/robots.txt;
        }

        location /favicon.svg {
            alias {{ env.get("TEMP_DIR", "/tmp") }}/favicon.svg;
        }

        location /under_construction.gif {
            alias {{ env.get("CONFIG_DIR", "/data/config") }}/under_construction.gif;
        }

        location = /outoforder.html {
            root {{ env.get("TEMP_DIR", "/tmp") }};
            internal;
        }

        location /api/freva-nextgen/ {
            proxy_pass http://{{ env.get("FREVA_REST_HOST", "localhost") }}/api/freva-nextgen/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        location /api/chatbot/ {
            proxy_pass http://{{ env.get("CHATBOT_HOST", "localhost") }}/api/chatbot/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
            proxy_set_header X-Freva-Vault-URL "{{ env["VAULT_URL"] }}";
            proxy_set_header X-Freva-Project "{{ env["PROJECT_NAME"] }}";
            proxy_set_header X-Freva-Rest-URL "https://{{ env.get("WEB_SERVER_NAME", "localhost") }};
            proxy_set_header X-Freva-Config-Path "{{ env["EVALUATION_SYSTEM_CONFIG_FILE"] }}";
        }

        location /api/databrowser/metadata_search/ {
            proxy_pass http://{{ env.get("FREVA_REST_HOST", "localhost") }}/api/freva-nextgen/databrowser/metadata-search/;
        }

        location /api/databrowser/data_search/ {
            proxy_pass http://{{ env.get("FREVA_REST_HOST", "localhost") }}/api/freva-nextgen/databrowser/data-search/;
        }

        location /api/freva-data-portal/ {
            proxy_pass http://{{ env.get("FREVA_REST_HOST", "localhost") }}/api/freva-nextgen/data-portal/;
        }

        location /api/auth/ {
            proxy_pass http://{{ env.get("FREVA_REST_HOST", "localhost") }}/api/freva-nextgen/auth/;
        }

        location / {
            proxy_pass http://{{ env.get("SERVER_NAME", "localhost") }}:{{ env.get("SERVER_PORT", "8000") }}/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        error_log {{ env.get("LOG_DIR", "/tmp/nginx") }}/nginx-error.log;
        access_log {{ env.get("LOG_DIR", "/tmp/nginx") }}/nginx-access.log;
        proxy_temp_path {{ env.get("TEMP_DIR", "/tmp") }}/nginx/proxy_temp;
        client_body_temp_path {{ env.get("TEMP_DIR", "/tmp") }}/nginx/client_temp;
        fastcgi_temp_path {{ env.get("TEMP_DIR", "/tmp") }}/nginx/fastcgi_temp;
        uwsgi_temp_path {{ env.get("TEMP_DIR", "/tmp") }}/nginx/uwsgi_temp;
        scgi_temp_path {{ env.get("TEMP_DIR", "/tmp") }}/nginx/scgi_temp;


    }
}
